body 
{
	background-color: #E3EFFC;
	color: #000000;
	font-family: "Times New Roman", sans-serif;
}

h1
{
	font-size: 200%;
	font-family: "Times New Roman", sans-serif;
}

h2
{
	font-size: 175%;
	text-align: left;
	padding: 5px;
	margin-left: -10px;
	margin-right: -10px;
	font-family: "Times New Roman", sans-serif;
}

h3
{
	font-size: 160%;
}

p
{
	font-size: 150%
}


#wrapper 
{ 
	width: 80%;           
	margin-left: auto;           
	margin-right: auto;           
}

.grid-container-large
{
	display:grid;
	grid-template-rows: 13% 7% 80%;
	grid-gap: 10px
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:-10px;
}

.grid-container-nav
{
	display:grid;
	grid-template-columns: auto auto auto auto 40%;
	grid-gap: 7px
}

.grid-container-secondary
{
	display:flex;
	grid-template-columns: 30% 70%;
	column-gap: 3px;
	padding:0;
}

.gallery
{
	padding: 5px;
}

.image-in-text
{
	margin:15px;
}

#text-with-padding
{
	padding:15px;
	padding-left:30px;
	font-size: 150%;
}

#big-list-text
{
	font-size: 150%;
}

#nav-header
{
	color: #000000;
	background-color: #7EB6ED;
	font-family: "Roboto", "Verdana", sans-serif;
	text-align: center;
	padding: 10px;
	margin-top: -12px;
}

#body-text
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
}

figure
{
	text-align: center;
}

figcaption
{
	color: #000000;
	text-align: center;
	background-color: #EED690;
}

button
{
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color:#76ADE3;
	color: #000000;
	font-family: "Roboto", "Verdana", sans-serif;
	font-size: 18px;
	box-shadow:0 4px #51779E;
}

button:hover
{
	background-color: #6A9ACC;
}

button:active
{
	background-color:#5B87B3;
	box-shadow:0 2px #51779E;
	transform: translateY(2px);
}

